@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

:root {
  font-family: "roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  --bg: #e0e0e0;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg);
}

.btn-container {
  width: 250px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-text {
  display: inline;
  font-size: 40px;
  font-family: 'Pacifico';
  margin: 0 5px 0 5px;
}

.btn {
  width: 150px;
  height: 30px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
  margin: 25px 0 0 0;
  transition: transform 0.1s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.gameboard {
    width: 450px;
    height: 450px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    border-radius: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.game-pieces {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    background-color: black;
}

.game-pieces > div {
    width: 113.33px;
    height: 113.33px;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-pieces > div:hover {
    cursor: pointer;
}

.x, .o {
    font-family: 'Pacifico';
    font-size: 67px;
    margin: 0;
    padding: 0;
}

.x {
    color: indianred;
}

.o {
    color: cornflowerblue;
}

.winContainer {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    background-color: none;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
  }

  .winContainer > h3 {
    font-size: 56px;
    color: white;
  }
  
  .winContainer.active {
    transform: translate(-50%, -50%) scale(1);
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay.active {
    display: block;
  }